* {
    box-sizing: border-box;
    /* margin: 4px; */
  }

body {
  min-height: 100vh;
  display: flex;
  font-weight: 400;
}

.gifbg {
  width: auto;
  height: auto;
  background: url("bg.gif");
  background-size:50%;
  min-height: 100vh;
  display: flex;
  font-weight: 500;
}

body,
html,
.main,
.App,
.login,
.signup,
.password,
.vertical-center {
  width: 100%;
  height: 100%;
}

.logo {
  width: 70px;
  height: auto;
}

.form-group {
  margin-top: 4%;
}

.form-group button{
  width: 100%;
  height: 100%;
  margin-top: 2%;
}

.navbar-light {
  background-color: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}

.nav-item {
  margin-left: 10px;
}

.vertical-center {
  display: flex;
  text-align: left;
  justify-content: center;
  flex-direction: column;    
}

.inner-block {
  width: 450px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
}

.vertical-center .form-control:focus {
  border-color: #2554FF;
  box-shadow: none;
}

.vertical-center h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

label {
  font-weight: 500;
}

.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7a7a7a;
  margin: 0;
}

.forgot-password a {
  color: #2554FF;
}

body::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: rgba(93, 137, 219, 0.658);
  border-radius: 10px;
}

body::-webkit-scrollbar
{
  width: 10px;
  background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  background-image: -webkit-gradient(linear,
  left bottom,
  left top,
  color-stop(0.44, rgba(122, 154, 217, 0.80)),
  color-stop(0.72, rgba(73,125,189, 0.80)),
  color-stop(0.86, rgba(28,58,148, 0.80)));
}
/* different scrollbar */
/* body::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

body::-webkit-scrollbar
{
  width: 12px;
  background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #555;
} */